<ion-content padding class="page-movement" overflow-scroll="true">
    <div class="header">
        <button ion-button icon-only (click)="back()">
            <ion-icon name="md-arrow-back"></ion-icon>
        </button>
        <div class="icon">
            <img src="assets/img/movement_icon_white.png" alt="Carrito de compras">
        </div>
    </div>
    <div class="info">
        <div class="logo"> <img src="assets/img/green_logo.png" alt="logo"></div>
        <div class="user-info">
            <div class="user-pic">
                <!-- <img src="assets/img/userpic.png" alt="user"> -->
                <img src="{{storage.user.avatar_url}}" alt="user">
            </div>
            <div class="user-data">
                <label id="user-name">{{storage.user.name}}</label>
                <!-- <label id="user-name">Usuario</label> -->
                <label id="user-number">{{storage.user.phone}}</label>
                <!-- <label id="user-number">6862645467</label> -->
            </div>
        </div>
        <div class="movement-info">
            <div class="info">
                <label id="title">Balance General</label>
                <label id="date">{{currentDate}}</label>
            </div>
            <div class="options">
                <ion-icon name="ios-information-circle-outline" id="btnInfo" (click)="showInfo()"></ion-icon>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="balance">
            <div class="title">
                <label>Saldo disponible</label>
            </div>
            <div class="content">
                <label [innerHTML]="balance"></label>
            </div>
        </div>
        <div class="balance-apply">
            <label class="title">Saldo por aplicar</label>
            <label class="money">-3,200 MXN</label>
        </div>
        <div class="movements">
            <ul>
                <li *ngFor="let trans of transactions; let i = index;">
                    <div class="description">
                        <label class="desc-title">{{trans.description}}</label>
                        <label class="desc-date">{{trans.created_at}}</label>
                    </div>
                    <div class="movement">
                        <label *ngIf="(trans.type == 'C')" class="move-money red"><ion-icon name="md-arrow-round-back"></ion-icon>{{trans.amount}}</label>
                        <label *ngIf="(trans.type == 'A')" class="move-money green"><ion-icon name="md-arrow-round-forward"></ion-icon>{{trans.amount}}</label>
                        <label class="move-coin">MXN</label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="before-balance">
            <label class="title">Saldo anterior:</label>
            <label class="money">0 MXN</label>
        </div>
        <div class="footer">
            <button type="button">Descargar</button>
        </div>
    </div>
</ion-content>
