.page-register {
    background-color: white;
    background-image: url("../assets/img/logo_grey.png");
    background-position: top;
    background-size: 140% 90%;
    background-repeat: no-repeat;

    .header {
        width: 100%;
        height: 5em;
        background-color: #47b84c;
        display: flex;
        border-bottom: 1px solid #28932e;
    }

    .header button {
        background-color: transparent;
        margin: auto;
    }

    .user-info {
        height: 100%;
        width: 80%;
        display: flex;
        position: relative;
        text-align: center;
        margin: auto;
        padding-right: 10%;
    }
    .user-info label {
        font-size: 1.4em;
        margin: auto;
        color: white;
        font-weight: 500;
    }

    form ion-item {
        background-color: transparent;
    }

    ion-label[floating] {
        color: rgba(0, 0, 0, 0.65);
    }

    .footer {
        height: 10%;
        width: 100%;
        position: relative;
        text-align: center;
        margin-top: 7%;
    }
    .footer button {
        background-color: #56be5b;
        height: 2.5em;
        width: 65%;
        border-radius: 5px 5px;
        margin: auto;
        display: inherit;
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: 100;
        color: white;
        margin-top: 8%;
        margin-bottom: 8%;
    }

    & .success-dialog {
        height: 100%;
        width: 100%;
        top: 0;
        position: fixed;
        -webkit-transition: opacity .35s ease 0s, visibility linear .35s, visibility .35s;
        transition: opacity .35s ease 0s, visibility linear .35s, visibility .35s;

        & .dialog-icon {
            position: relative;
            width: 30%;
            margin: auto;
            top: 20%;
            text-align: center;
            margin-bottom: 10%;
        }
        & .dialog-title {
            position: relative;
            width: 65%;
            margin: auto;
            top: 20%;
            text-align: center;
            margin-bottom: 5%;
        }
        & .dialog-title label {
            color: white;
            font-size: 1.2em;
        }
        & .dialog-title label span {
            font-size: 1.3em;
        }
        & .dialog-background {
            background-color: black;
            opacity: 0.8;
            height: 100%;
            width: 100%;
            position: absolute;
        }
        & .dialog-body {
            position: relative;
            width: 60%;
            margin: auto;
            top: 20%;
            text-align: center;
            opacity: 0.55;
            color: white;
        }
        & .dialog-footer {
            z-index: 10;
            position: absolute;
            width: 100%;
            height: 10%;
            bottom: 20%;
        }
        & .dialog-footer button {
            background-color: #56be5b;
            height: 75%;
            width: 65%;
            border-radius: 5px 5px 5px 5px;
            margin: auto;
            display: inherit;
            text-transform: uppercase;
            font-size: 1.1em;
            font-weight: 100;
            color: white;
        }
        &.close {
            visibility: hidden;
            opacity: 0;
        }
    }
}
